<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../../partials/nav.ejs %>
    <header class="<%= season %>-header">
      <img class="logo" src="assets/logo.png">
    </header>    
    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">spring<span>events</span></h1>
      <article class="brown-box">
        <p>"<%= data.quotes.first.quote %>"</p>
        <p>-<%= data.quotes.first.person %></p>
      </article>
      <article class="event-block exeter-trail">
        <img src="assets/logos/exeter-trail-race.jpg">
        <div class="event-info">
          <h2><%= data.exeterTrail.title %></h2>
          <h3><%= data.exeterTrail.date %></h3>
          <h3><%= data.exeterTrail.starttime %></h3>
          <h4><%= data.exeterTrail.address %></br>
              <%= data.exeterTrail.address2 %></br>
              <%= data.exeterTrail.city %>, <%= data.exeterTrail.state %></h4>
          <a href="exeter-trail/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.exeterTrail.photographer %></h5>
        </div>
      </article>
    </section>
    <section class="right-side animated fadeInRightBig">
      <article class="event-block ralph-waldo">
        <img src="assets/logos/ralph-waldo.png">
        <div class="event-info">
          <h2><%= data.ralphWaldo.title %></h2>
          <h3><%= data.ralphWaldo.date %></h3>
          <h3><%= data.ralphWaldo.starttime %></h3>
          <h4><%= data.ralphWaldo.address %></br>
              <%= data.ralphWaldo.address2 %></br>
              <%= data.ralphWaldo.city %>, <%= data.ralphWaldo.state %></h4>
          <a href="ralph-waldo/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.ralphWaldo.photographer %></h5>
        </div>
      </article>
      <article class="brown-box">
        <p>"<%= data.quotes.second.quote %>"</p>
        <p>-<%= data.quotes.second.person %></p>
      </article>
      <article class="event-block suunto">
        <img src="assets/logos/sunnto.jpg">
        <div class="event-info">
          <h2>RACE acidotic and Win!</h2>
          <h3>We've partnered with Suunto to bring you a very special year long promotion. Every acidotic RACING event you do automatically enters you in a drawing to win a Suunto Ambit3 which we will randomly draw after the last race on our schedule. The more you race with us, the better your chances of winning. So come on out and RACE acidotic and win!</h3>
        </div>
      </article>
    </section>

    <%= include ../../partials/footer.ejs %>
    <%= include ../../partials/scripts.ejs %>
  </body>
</html>