<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../../partials/head.ejs %>
  <body class="winter-page">
    <%= include ../../partials/nav.ejs %>
    <header class="winter-header">
      <img class="logo" src="assets/logo.png">
    </header>    
    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">Winter<span>events</span></h1>
      <article class="blue-box">
        <p>"<%= data.quotes.first.quote %>"</p>
        <p>-<%= data.quotes.first.person %></p>
      </article>
      <article class="event-block kingman-moonlight">
        <img src="assets/logos/kingman-moonlight.png">
        <div class="event-info">
          <h2><%= data.kingmanFarm.title %></h2>
          <h3><%= data.kingmanFarm.date %></h3>
          <h3><%= data.kingmanFarm.starttime %></h3>
          <h4><%= data.kingmanFarm.address %></br>
              <%= data.kingmanFarm.address2 %></br>
              <%= data.kingmanFarm.city %>, <%= data.kingmanFarm.state %></h4>
          <a href="kingman-farm/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.kingmanFarm.photographer %></h5>
        </div>
      </article>
      
      <article class="event-block snowshoe-hullaballo">
        <img src="assets/logos/hullaballo.png">
        <div class="event-info">
          <h2><%= data.snowshoeHullabaloo.title %></h2>
          <h3><%= data.snowshoeHullabaloo.date %></h3>
          <h3><%= data.snowshoeHullabaloo.starttime %></h3>
          <h4><%= data.snowshoeHullabaloo.address %></br>
              <%= data.snowshoeHullabaloo.address2 %></br>
              <%= data.snowshoeHullabaloo.city %>, <%= data.snowshoeHullabaloo.state %></h4>
          <a href="snowshoe-hullabaloo/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.snowshoeHullabaloo.photographer %></h5>
        </div>
      </article>
      <article class="event-block suunto">
        <img src="assets/logos/sunnto.jpg">
        <div class="event-info">
          <h2>RACE acidotic and Win!</h2>
          <h3>We've partnered with Suunto to bring you a very special year long promotion. Every acidotic RACING event you do automatically enters you in a drawing to win a Suunto Ambit3 which we will randomly draw after the last race on our schedule. The more you race with us, the better your chances of winning. So come on out and RACE acidotic and win!</h3>
        </div>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article class="event-block sidehiller-event">
        <img src="assets/logos/sidehiller.jpg">
        <div class="event-info">
          <h2><%= data.sidehillerSnowshoe.title %></h2>
          <h3><%= data.sidehillerSnowshoe.date %></h3>
          <h3><%= data.sidehillerSnowshoe.starttime %></h3>
          <h4><%= data.sidehillerSnowshoe.address %></br>
              <%= data.sidehillerSnowshoe.address2 %></br>
              <%= data.sidehillerSnowshoe.city %>, <%= data.sidehillerSnowshoe.state %></h4>
          <a href="sidehiller-snowshoe/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.sidehillerSnowshoe.photographer %></h5>
        </div>
      </article>
      <article class="blue-box wow">
        <p>"<%= data.quotes.second.quote %>"</p>
        <p>-<%= data.quotes.second.person %></p>
      </article>
      <article class="event-block granite-state-snowshoe">
        <img src="assets/logos/gssc.jpg">
        <div class="event-info">
          <h2><%= data.snowshoeChampionship.title %></h2>
          <h3><%= data.snowshoeChampionship.date %></h3>
          <h3><%= data.snowshoeChampionship.starttime %></h3>
          <h4><%= data.snowshoeChampionship.address %></br>
              <%= data.snowshoeChampionship.address2 %></br>
              <%= data.snowshoeChampionship.city %>, <%= data.snowshoeChampionship.state %></h4>
          <a href="snowshoe-championship/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.snowshoeChampionship.photographer %></h5>
        </div>
      </article>
    </section>

    <%= include ../../partials/footer.ejs %>
    <%= include ../../partials/scripts.ejs %>
  </body>
</html>