<!DOCTYPE html>
<footer>
  <div class="event-links">
    <!-- WINTER -->
    <ul>
      <li class="event-season-header"><a href="winter">winter events<a/></li>
      <li>
        <span><%= data.winter.kingmanFarm.date %></span>
        <p><a href="kingman-farm-moonlight-snowshoe-race/">
          <%= data.winter.kingmanFarm.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.winter.snowshoeHullabaloo.date %></span>
        <p><a href="exeter-snowshoe-hullabaloo/">
          <%= data.winter.snowshoeHullabaloo.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.winter.snowshoeChampionship.date %></span>
        <p><a href="nh-snowshoe-championship/">
          <%= data.winter.snowshoeChampionship.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.winter.frostyCrank.date %></span>
        <p><a href="fat-bike-frosty-crank/">
          <%= data.winter.frostyCrank.title %>
        <a></p>
      </li>
    </ul>

    <!-- SPRING -->
    <ul>
      <li class="event-season-header"><a href="spring">spring events</a></li>
      <li>
        <span><%= data.spring.ralphWaldo.date %></span>
        <p><a href="ralph-waldo-emerson-trail-race/">
          <%= data.spring.ralphWaldo.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.spring.exeterTrail.date %></span>
        <p><a href="exeter-trail-race/">
          <%= data.spring.exeterTrail.title %>
        <a></p>
      </li>
    </ul>

    <!-- SUMMER -->
    <ul>
      <li class="event-season-header"><a href="summer">summer events</a></li>
      <li>
        <span><%= data.summer.loonMountainRace.date %></span>
        <p><a href="loon-mountain-race/">
          <%= data.summer.loonMountainRace.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.summer.kingmanFarmTrailRace.date %></span>
        <p><a href="kingman-farm-trail-race/">
          <%= data.summer.kingmanFarmTrailRace.title %>
        <a></p>
      </li>
        <li>
        <span><%= data.summer.harmonyHill.date %></span>
        <p><a href="harmony-hill-summer-xc-series/">
          <%= data.summer.harmonyHill.title %>
        <a></p>
      </li>
    </ul>

    <!-- FALL -->
    <ul>
      
      <li class="event-season-header"><a href="fall">fall events</a></li>
      
      <li>
        <span><%= data.fall.kimnedeauinterview.date %></span>
        <p><a href="kim-nedeau-interview/">
          <%= data.fall.kimnedeauinterview.title %>
        <a></p>
      </li>  
      
      <li>
        <span><%= data.fall.brettonWoods.date %></span>
        <p><a href="bretton-woods-fell-race/">
          <%= data.fall.brettonWoods.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.fall.vulcansFury.date %></span>
        <p><a href="vulcans-fury-trail-race/">
          <%= data.fall.vulcansFury.title %>
        <a></p>
      </li>
      <li>
        <span><%= data.fall.puritySprings.date %></span>
        <p><a href="purity-springs/">
          <%= data.fall.puritySprings.title %>
        <a></p>
      </li>
    </ul>
  </div>
  <div class="sponsor-links">
    <h3>our PartnerS</h3>
    <ul>
      <% sponsors.forEach(function(sponsor) { %>
        <li>
          <a href="<%= sponsor.link %>" target="_blank">
            <img src="<%= sponsor.image %>">
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
  <div class="social-footer-links">
    <ul>
      <li>
        <a href="https://www.facebook.com/pages/acidotic-RACING/117524208265808" target="_blank">
          <img src="assets/icons/sm_facebook.jpg">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/acidoticracing/" target="_blank">
          <img src="assets/icons/sm_twitter.jpg">
        </a>
      </li>
      <li>
        <a href="http://instagram.com/acidoticracing" target="_blank">
          <img src="assets/icons/sm_instagram.png">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/ChrisJDunn" target="_blank">
          <img src="assets/icons/sm_youtube.png">
        </a>
      </li>
    </ul>
    <p>&copy; 2015 acidotic RACING, LLC<p>
    <p>Website design and development by <a href="https://github.com/theWickedWebDev" target="_blank">Stephen Young</a></p>
  </div>
</footer>

<aside class="swipe">
  <p>
    <i class="fa fa-angle-double-left"></i>
    SWIPE FOR MORE
    <i class="fa fa-angle-double-right"></i>
  </p>
</aside>
