<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav %>
    <%= include ../partials/header %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">COMMUNITY<span>at acidotic</span></h1>

      <!-- <article class="blue-box">
        <a href="https://www.flickr.com/photos/gianinal/" target="_new">
          <img src="assets/logos/snapacidotic.png" width="100%" style="padding-bottom: 20px">
        </a>
        <div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'>
          <iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=75&size=big&userId=57119512@N00&credit=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe>
        </div>
      </article> -->
      <article class="blue-box">
        <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/acidoticRACING/latest-rides/f21851d481a7c90f4fd6d6cf81a0b3d848e1840b?show_rides=true'></iframe>
      </article>
      <article class="blue-box">
        <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/85558/latest-rides/44353938f78fe698ebef628205e6a4d5826c6111?show_rides=true'></iframe>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article class="blue-box">
        <p>aR is a community of like minded multi-sport endurance athletes.  We pride ourselves on being approachable and supportive of all persons, skills, and abilities.  Our athletes follow the basic credo of "RACING acidotic" which to us means giving nothing less than everything we have while displaying the highest measure of sportsmanship to our fellow competitors, race officials, volunteers, and spectators.  An important part of that community involves our families as we attempt to strike a balance between our competitive lives and our loved ones.  We partner with businesses to add value to team membership through marketing for product in kind trades.  This allows us to reward teammates for "RACING acidotic" and representing our brand.  Finally, volunteering is an important element of team participation.  Throughout the year there are multiple opportunities to volunteer at our events.</p>
      </article>
      <article class="blue-box">
        <a class="twitter-timeline" href="https://twitter.com/acidoticRACING" data-widget-id="601759692445065218" style="color: #fff"><i class="fa fa-cog fa-spin"></i> Loading tweets by @acidoticRACING</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </article>
      <article class="blue-box">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F117524208265808&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:100%; height:430px; background: white;" allowtransparency="true">
        </iframe>
      </article>
    </section>

    <%= include ../partials/footer %>
    <%= include ../partials/scripts %>
  </body>
</html>