<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<%- include ../partials/head %>
<body class="<%= season %>-page">
<%- include ../partials/nav %>
<%- include ../partials/header %>

<section class="left-side animated fadeInLeftBig">
	
	<h1 class="main-header">CONSULTING<span>with acidotic</span></h1>
	
	<article class="event-block consulting-event">
		<p style="position:absolute;bottom:5px;right:2px;">Picture courtesy of Joe Viger Photography</p>
	</article>
</section>

<section class="right-side animated fadeInRightBig">
	<article class="blue-box">
		<p>"We have deep knowledge of the racing landscape here in New England and we know what works and what doesn't work. We don't want to race direct or own your race. We are interested in helping you build it and race it ourselves. We have a passion for helping partners create disruptive events that encourage early sign-up, word-of-mouth buzz and consistent year-over-year growth. And our formulas works.</p>
	</article>

	<article class="blue-box">
		<p><strong>HOW DO WE DO IT?</strong></br>
		We work with you to identify the challenges and solutions that will pave the way for what we call "signature racing" events that meets your goals. Our proven formula creates race brands that:</p>
	</article>

	<article class="blue-box">
		<p><strong>DIFFERENTIATE YOURSELF</strong> by offering truly unique experiences that can NEVER be replicated.</br>
		<i>So your event is exceptional and gets a checkmark when people are building their race calendar and you aren't sweating sign-ups everyday leading up to the event.</i></p>
	</article>

	<article class="blue-box">
		<p><strong>DRIVE PARTICIPATION</strong> with word-of-mouth buzz in your key target audience.</br>
		<i>So you get an organic boost from the marketer racers listen to most-other racers. This can reduce promotional costs while growing participation.</i></p>
	</article>
	<article class="blue-box">
		<p><strong>DEMONSTRATE CONSISTENCY</strong> for both racers and organizers so you hold a better event.</br>
		<i>So your racers know they are getting a quality experience and you stop worrying about execution and participation on a year-to-year basis.</i></p>
	</article>

	<article class="blue-box">
		<p>We specialize in partnering with race organizers to create signature events that follow proven processes that build winning race brands."<br>
		<br>Contact us at with any questions you may have at <a style="color:white;" href="mailto:acidoticRACING@hotmail.com">acidoticRACING@hotmail.com</a></p>
      </article>
</section>

<%- include ../partials/footer %>
<%- include ../partials/scripts %>
</body>
</html>
