<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%- include ../../partials/head %>
  <body class="<%= season %>-page">
    <%- include ../../partials/nav %>
    <%- include ../../partials/header %>
    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">Summer<span>events</span></h1>
      <article class="green-box">
        <p>"<%= data.summer.quotes.first.quote %>"</p>
        <p>-<%= data.summer.quotes.first.person %></p>
      </article>
      <article class="event-block kingmanfarm-race">
        <img src="assets/logos/kingmanfarm.png">
        <div class="event-info">
          <h2><%= data.summer.kingmanFarmTrailRace.title %></h2>
          <h3><%= data.summer.kingmanFarmTrailRace.date %></h3>
          <h3><%= data.summer.kingmanFarmTrailRace.starttime %></h3>
          <h4><%= data.summer.kingmanFarmTrailRace.address %></br>
              <%= data.summer.kingmanFarmTrailRace.address2 %></br>
              <%= data.summer.kingmanFarmTrailRace.city %>, <%= data.summer.kingmanFarmTrailRace.state %></h4>
          <a href="kingman-farm-trail-race/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.summer.kingmanFarmTrailRace.photographer %></h5>
        </div>
      </article>
      <article class="event-block suunto">
        <img src="assets/logos/sunnto.jpg">
        <div class="event-info">
          <h2><%= data.suunto.title %></h2>
          <h3><%= data.suunto.copy %></h3>
        </div>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article class="event-block loon-mountain">
        
        <!--<img style="top:75%;left:55%;" src="assets/logos/CRA-Logo.jpg">-->
        <img src="assets/logos/loonmountain.png">
        <!--<img style="left:70%" src="assets/logos/USATF_2016_Logo.png">-->
        <img style="top:70%;left:75%;" src="assets/logos/GSMC.png">       

        <div class="event-info">
          <h2><%= data.summer.loonMountainRace.title %></h2>
          <h3><%= data.summer.loonMountainRace.date %></h3>
          <h3><%= data.summer.loonMountainRace.starttime %></h3>
          <h4><%= data.summer.loonMountainRace.address %></br>
              <%= data.summer.loonMountainRace.address2 %></br>
              <%= data.summer.loonMountainRace.city %>, <%= data.summer.loonMountainRace.state %></h4>
          <a href="loon-mountain-race/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.summer.loonMountainRace.photographer %></h5>
        </div>
      </article>
      <article class="green-box">
        <p>"<%= data.summer.quotes.second.quote %>"</p>
        <p>-<%= data.summer.quotes.second.person %></p>
      </article>
      <article class="event-block harmony-hill">
        <img src="assets/logos/harmony_logo.jpg">
        <div class="event-info">
          <h2><%= data.summer.harmonyHill.title %></h2>
          <h3><%= data.summer.harmonyHill.date %></h3>
          <h3><%= data.summer.harmonyHill.starttime %></h3>
          <h4><%= data.summer.harmonyHill.address %></br>
              <%= data.summer.harmonyHill.address2 %></br>
              <%= data.summer.harmonyHill.city %>, <%= data.summer.harmonyHill.state %></h4>
          <a href="harmony-hill/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.summer.harmonyHill.photographer %></h5>
        </div>
      </article>
    </section>    

    <%- include ../../partials/footer %>
    <%- include ../../partials/scripts %>
  </body>
</html>
