<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../../partials/nav.ejs %>
    <%= include ../../partials/header.ejs %>    
    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">Winter<span>events</span></h1>
      <article class="blue-box">
        <p>"<%= data.winter.quotes.first.quote %>"</p>
        <p>-<%= data.winter.quotes.first.person %></p>
      </article>
      <article class="event-block kingman-moonlight">
        <img src="assets/logos/kingman-moonlight.png">
        <div class="event-info">
          <h2><%= data.winter.kingmanFarm.title %></h2>
          <h3><%= data.winter.kingmanFarm.date %></h3>
          <h3><%= data.winter.kingmanFarm.starttime %></h3>
          <h4><%= data.winter.kingmanFarm.address %></br>
              <%= data.winter.kingmanFarm.address2 %></br>
              <%= data.winter.kingmanFarm.city %>, <%= data.winter.kingmanFarm.state %></h4>
          <a href="kingman-farm/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.winter.kingmanFarm.photographer %></h5>
        </div>
      </article>
      <article class="event-block snowshoe-hullaballo">
        <img src="assets/logos/hullaballo.png">
        <div class="event-info">
          <h2><%= data.winter.snowshoeHullabaloo.title %></h2>
          <h3><%= data.winter.snowshoeHullabaloo.date %></h3>
          <h3><%= data.winter.snowshoeHullabaloo.starttime %></h3>
          <h4><%= data.winter.snowshoeHullabaloo.address %></br>
              <%= data.winter.snowshoeHullabaloo.address2 %></br>
              <%= data.winter.snowshoeHullabaloo.city %>, <%= data.winter.snowshoeHullabaloo.state %></h4>
          <a href="snowshoe-hullabaloo/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.winter.snowshoeHullabaloo.photographer %></h5>
        </div>
      </article>
      <article class="event-block suunto">
        <img src="assets/logos/sunnto.jpg">
        <div class="event-info">
          <h2><%= data.suunto.title %></h2>
          <h3><%= data.suunto.copy %></h3>
        </div>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article class="event-block sidehiller-event">
        <img src="assets/logos/sidehiller.jpg">
        <div class="event-info">
          <h2><%= data.winter.sidehillerSnowshoe.title %></h2>
          <h3><%= data.winter.sidehillerSnowshoe.date %></h3>
          <h3><%= data.winter.sidehillerSnowshoe.starttime %></h3>
          <h4><%= data.winter.sidehillerSnowshoe.address %></br>
              <%= data.winter.sidehillerSnowshoe.address2 %></br>
              <%= data.winter.sidehillerSnowshoe.city %>, <%= data.winter.sidehillerSnowshoe.state %></h4>
          <a href="sidehiller-snowshoe/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.winter.sidehillerSnowshoe.photographer %></h5>
        </div>
      </article>
      <article class="blue-box">
        <p>"<%= data.winter.quotes.second.quote %>"</p>
        <p>-<%= data.winter.quotes.second.person %></p>
      </article>
      <article class="event-block granite-state-snowshoe">
        <img src="assets/logos/gssc.jpg">
        <div class="event-info">
          <h2><%= data.winter.snowshoeChampionship.title %></h2>
          <h3><%= data.winter.snowshoeChampionship.date %></h3>
          <h3><%= data.winter.snowshoeChampionship.starttime %></h3>
          <h4><%= data.winter.snowshoeChampionship.address %></br>
              <%= data.winter.snowshoeChampionship.address2 %></br>
              <%= data.winter.snowshoeChampionship.city %>, <%= data.winter.snowshoeChampionship.state %></h4>
          <a href="snowshoe-championship/"><button>click here for details</button></a>
          <h5>Photo Courtesy of <%= data.winter.snowshoeChampionship.photographer %></h5>
        </div>
      </article>
    </section>

    <%= include ../../partials/footer.ejs %>
    <%= include ../../partials/scripts.ejs %>
  </body>
</html>