<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>
    <%= include ../partials/header.ejs %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">ABOUT<span>acidotic</span></h1>

      <article class="green-box">
        <p>As a race director and an athlete, I understand that no detail is too small. Our organization strives to host professional race services in a diverse multitude of endurance pursuits.</p>

        <p>Our mission is to host uncompromisingly excellent events in beautiful locations on challenging courses and to make every competitor feel as though they are important and valuable to us.</p>

        <p>Our race officials exemplify professionalism and our volunteers are friendly and welcoming. We are committed to supporting charitable organizations that are dear to us through a variety of outlets associated with our professional event services. Every event we host benefits a non-profit organization named by the race director.
        </p> 

        <p>Check out our schedule and come experience one of our events! We bet you'll notice the difference.</p>

        <p>Chris J. Dunn, Owner &amp; Founder</br>
        acidotic RACING, LLC</br>
        Strafford, NEW HAMPSHIRE</p>
      </article>
      <article class="blue-box">
        <p>All acidotic RACING athletes have committed to displaying the highest measure of sportsmanship while racing with the utmost tenacity.  For us it's not where you finish, but how you finish that matters most.  These athletes represent nearly every endurance sport out there.  While we favor "off-road" challenges, many of us race "on-road" as well.  We have athletes throughout New England racing most of the regional foot and bike race series.  Interested in joining our community?  Send us a note.</p>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">

      <article id="whyBlock" class="event-block why-event">
      </article>
      <div class="thumbnail-holder clearfix">
        <div class="pic01 thumb-pics"></div>
        <div class="pic02 thumb-pics"></div>
        <div class="pic03 thumb-pics"></div>
        <div class="pic04 thumb-pics"></div>
        <div class="pic05 thumb-pics"></div>
        <div class="pic06 thumb-pics"></div>
        <div class="pic07 thumb-pics"></div>
        <div class="pic08 thumb-pics"></div>
        <div class="pic09 thumb-pics"></div>
        <div class="pic10 thumb-pics"></div>
      </div>

      
      <article class="brown-box">
        <img class="header-img" src="assets/logos/snapacidotic.png">
        <p>We are very fortunate to have some amazingly talented people shoot photos at our events. At nearly every aR race our team photographer, <a href="https://www.facebook.com/pages/SNAPacidotic/503426696349584" target="_blank">Gianina Lindsey</a>, provides free photos through her Facebook page, SNAPacidotic.</p>

        <p>Check it out, give it a "Like", and then use the images as you wish. All we ask is that you credit her appropriately ("courtesy of Gianina Lindsey").</p>

        <p>And at some of our larger races you might see professional photographers <a href="http://www.joeviger.com/" target="_blank">Joe Viger</a> and/or <a href="http://www.scottmasonphoto.com/" target="_blank">Scott Mason</a>. These gentlemen have taken some of the most iconic images of endurance events in the northeast. Please visit their websites and browse their galleries.</p>
      </article>
    </section>
    <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>