<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>
    <%= include ../partials/header.ejs %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">CHARITIES<span>we sponsor</span></h1>
    </section>

    <section class="right-side animated fadeInRightBig">
    </section>
    <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>