<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>
    <%= include ../partials/header.ejs %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">CHARITIES<span>we support</span></h1>
      <article class="green-box">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum</p>
      </article>
      <article class="charity-block brown-box">
        <a href="http://www.arthritis.org/" target="_new">
          <img src="assets/charity/af-logo-2015.jpg">
        </a>
        <h3>Arthritis Foundation</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      </article>
      <article class="charity-block brown-box">
        <a href="http://trailrunner.com/" target="_new">
          <img src="assets/charity/atra.png">
        </a>
        <h3>American Trail Running Association</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      </article>
    </section>
    <section class="right-side animated fadeInRightBig">
      <article class="charity-block brown-box">
        <a href="http://www.usmrt.com/" target="_new">
          <img src="assets/charity/USMRT_Logo.png">
        </a>
        <h3>USA Mountain Running</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      </article>
      <article class="charity-block brown-box">
        <a href="http://www.flutiefoundation.org/" target="_new">
          <img src="assets/charity/flutie-logo.png">
        </a>
        <h3>Doug Floutie Foundation for Autism</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      </article>
      <article class="charity-block brown-box">
        <a href="http://www.cvhsonline.org/index.cfm" target="_new">
          <img src="assets/charity/cocheco_valley_logo.png">
        </a>
        <h3>Cocheco Valley Humane Society</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
      </article>
    </section>

    <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>