<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>
    <%= include ../partials/header.ejs %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">COMMUNITY<span>at acidotic</span></h1>

      <!-- <article class="blue-box">
        <a href="https://www.flickr.com/photos/gianinal/" target="_new">
          <img src="assets/logos/snapacidotic.png" width="100%" style="padding-bottom: 20px">
        </a>
        <div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'>
          <iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=75&size=big&userId=57119512@N00&credit=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe>
        </div>
      </article> -->
      <article class="blue-box">
        <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/acidoticRACING/latest-rides/f21851d481a7c90f4fd6d6cf81a0b3d848e1840b?show_rides=true'></iframe>
      </article>
      <article class="blue-box">
        <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/85558/latest-rides/44353938f78fe698ebef628205e6a4d5826c6111?show_rides=true'></iframe>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article class="blue-box">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
      </article>
      <article class="blue-box">
        <a class="twitter-timeline" href="https://twitter.com/acidoticRACING" data-widget-id="601759692445065218" style="color: #fff"><i class="fa fa-cog fa-spin"></i> Loading tweets by @acidoticRACING</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </article>
      <article class="blue-box">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F117524208265808&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:100%; height:430px; background: white;" allowtransparency="true">
        </iframe>
      </article>
    </section>

    <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>