<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>
    <%= include ../partials/header.ejs %>    

    <section class="left-side animated fadeInLeftBig">
      <h1 class="main-header">COMMUNITY<span>at acidotic</span></h1>
      <article>
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/acidoticRACING/latest-rides/f21851d481a7c90f4fd6d6cf81a0b3d848e1840b?show_rides=true'></iframe>
      </article>
    </section>

    <section class="right-side animated fadeInRightBig">
      <article>
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/85558/latest-rides/44353938f78fe698ebef628205e6a4d5826c6111?show_rides=true'></iframe>
      </article>
    </section>
    <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>