<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>

    <section class="full-page">
      <div class="logo">
        <img src="assets/logo.png">
      </div>
      <div class="header">
        <%= include ../partials/add-this.ejs %>
        <h1><%= event.title %></h1>
      </div>
      <article>
        <div class="race-image" style="background-image: url(<%= event.image %>);">
          <img src="<%= event.logo %>">
        </div>
        <div class="race-details">
          <h5><i class="fa fa-calendar"></i> date</h5>
          <p><%= event.date %></p>
          <h5><i class="fa fa-map-marker"></i> address:</h5>
          <p><% if(event.address) { %><%= event.address %></br><% } %>
            <%= event.address2 %></br>
            <%= event.city %>, <%= event.state %>
          </p>

          <h5><i class="fa fa-line-chart"></i> distance:</h5>
          <p><%= event.distance %></p>
          <h5><i class="fa fa-clock-o"></i> start time:</h5>
          <p><%= event.starttime %></p>
          <h5><i class="fa fa-clock-o"></i> bib pick-up:</h5>
          <p><%= event.bibtime %></p>
          <h5><i class="fa fa-usd"></i> cost:</h5>
          <p><%= event.cost %></p>
        </div>
        <div class="button-wrapper reg-open">
          <p>Online Registration <%= event.registration.status %></p>
          <i class="fa fa-chevron-right"></i>
          <a href="<%= event.registration.link %>" target="_new"><img src="assets/logos/runreg.png"></a>
        </div>
        <% include ../partials/mailchimp.ejs %>
      </article>
      <article>
        <h5><i class="fa fa-users"></i> race director(s):</h5>
        <p><%= event.directorname %></p>
        <h5><i class="fa fa-envelope"></i> email</h5>
        <p><%= event.directoremail %></p>
        <h5><i class="fa fa-user"></i> designer</h5>
        <p><%= event.designer %></p>
      </article>
      <article>
        <h4>course details</h4>
        <% event.details.forEach(function(content) { %>
        <% if(content.image) {%>
          <img class="sponsor-image" src="<%= content.image %>">
        <% } %>
            <h5><%= content.title %></h5>
            <p class="no-extra-padding"><%= content.copy %></p>
        <% }); %>
        <% if(season == 'winter') { %>
          <div class="winter-advisory">
            <h5>Note:</h5>
            <p class="no-extra-padding">*SPECIAL WINTER WEATHER ANNOUCEMENT*</p>

            <p class="no-extra-padding">Updated 09/17/2009</p>

            <p class="no-extra-padding">New Hampshire winter weather can be very unpredictable and occasionally make travel hazardous. For the safety of our volunteers, competitors, and family a final determination on the status of our races will be made the Thursday prior to each race. The status of the race ("ON" or "POSTPONED") will be detailed on each individual race webpage. You must check each race webpage prior to the race to assure the race will be held. Every attempt will be made to reschedule all postponed events. Pre-registered competitors will be given a refund or rain check. </p>
          </div>
        <% } %>
      </article>
    </section>

        <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>