<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <%= include ../partials/head.ejs %>
  <body class="<%= season %>-page">
    <%= include ../partials/nav.ejs %>

    <section class="full-page">
      <div class="logo">
        <img src="assets/logo.png">
      </div>
      <div class="header">
        <%= include ../partials/add-this.ejs %>
        <h1><%= event.title %></h1>
      </div>
      <article>
        <div class="race-image" style="background-image: url(<%= event.image %>);">
          <img src="<%= event.logo %>">
        </div>
        <div class="race-details">
          <h5><i class="fa fa-calendar"></i> date</h5>
          <p><%= event.date %></p>
          <h5><i class="fa fa-map-marker"></i> address:</h5>
          <p><%= event.address %></br>
            <%= event.address2 %></br>
            <%= event.city %>, <%= event.state %>
          </p>

          <h5><i class="fa fa-line-chart"></i> distance:</h5>
          <p><%= event.distance %></p>
          <h5><i class="fa fa-clock-o"></i> start time:</h5>
          <p><%= event.starttime %></p>
          <h5><i class="fa fa-clock-o"></i> bib pick-up:</h5>
          <p><%= event.bibtime %></p>
          <h5><i class="fa fa-usd"></i> cost:</h5>
          <p><%= event.cost %></p>
        </div>
        <div class="button-wrapper reg-open">
          <p>Online Registration Open</p>
          <i class="fa fa-chevron-right"></i>
          <img src="assets/logos/runreg.png">
        </div>
        <form class="frm-email-notification">
          <label>Enter your email to recieve a notification for updates on our events:</label>
          <input type="text">
          <button>Get Notifications</button>
        </form>
      </article>
      <article>
        <h5><i class="fa fa-users"></i> race director(s):</h5>
        <p><%= event.directorname %></p>
        <h5><i class="fa fa-envelope"></i> email</h5>
        <p><%= event.directoremail %></p>
        <h5><i class="fa fa-user"></i> designer</h5>
        <p><%= event.designer %></p>
      </article>
      <article>
        <h4>course details</h4>
        <h5>description</h5>
        <p class="no-extra-padding">lorem ipsum dolor sit emet</p>
      </article>
    </section>

        <%= include ../partials/footer.ejs %>
    <%= include ../partials/scripts.ejs %>
  </body>
</html>